.centertxt{
  position: absolute;
width: 147%;
height: 116px;
left: 113%;
top: 24%;
font-family: 'Butler';
font-style: normal;
font-weight: 900;
font-size: 334%;
line-height: 58px;
text-align: center;
color: #2D355C;
}

.textbelow{
position: absolute;
width: 132%;
left: 116%;
top: 41%;
font-family: 'Karla', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #485592;
/* Connect with like-minded Muslims committed to prioritizing mental health wellness. */
}

.emailinput{

box-sizing: border-box;
position: absolute;
width: 100%;
height: 7%;
left: 111%;
top: 56%;
border: 1px solid #B5B5B5;
border-radius: 67px;
background: #FBFEF9;
}

.join{
box-sizing: border-box;
position: absolute;
width: 72%;
height: 7.2%;
left: 749px;
top: 55.9%;

/* Main */

background: #ED6563;
/* Main */

border: 1px solid #ED6563;
border-radius: 67px;
}

.emailicon{
position: absolute;
width: 6%;
height: 2%;
left: 198.63%;
right: 35.33%;
top: 58.33%;
bottom: 16.67%;
}

.waitlist{
box-sizing: border-box;
position: absolute;
width: 47%;
left: 208%;
top: 54%;
font-family: 'Karla', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 35px;
text-align: center;
color: #FFFFFF;

}

.iphonemockup1{
position: absolute;
left: 123.42%;
top: 72.91%;
}

.illustration3{
  z-index: -1;
  position: absolute;
  left: 20.32%;
  right: 55.07%;
  top: 69.1%;
  bottom: 86.62%;
}

.illu3text{
color: #ffff;
position: absolute;
width: 72%;
bottom: 4%;
left: 38%;
font-weight: 700;
font-size: 24px;
line-height: 28px;
font-family: 'Karla', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}

.illustration1{
position: absolute;
left: -4%;
right: 68.05%;
top: 29.55%;
bottom: 71.54%;
z-index: -1;
}

.illustration4{
position: absolute;
left: 20.68%;
right: 60.04%;
top: 104.41%;
bottom: 82.32%;
z-index: -1;
}

.illutext4{
position: absolute;
top: 114%;
width: 71%;
left: 35%;
font-family: 'Karla', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
line-height: 28px;
font-size: 24px;
color: #FFFFFF;
}

.illustration5{
position: absolute;
left: 237%;
top: 76%;
z-index: -1;
}

.illutext5{
font-family: 'Karla', sans-serif;
font-family: 'Source Sans Pro', sans-serif; 
}

.illustration6{
position: absolute;
left: 235%;
top: 126%;
z-index: -1;

}

.illutext6{

}

.illu2{
  position: absolute;
left: 220%;

}

.textcenter{
 
}

.signupbtn{

}

.signuptext{
position: absolute;
top: 50%;
}

.illustration7{
  position: absolute;
left: 220%;
top: 220%;

}

.phonemockup2{
  position: absolute;
  left: 220%;
  top: 220%
  ;
}
.textmainsahkun{

}

.textmainsm{

}

.cnctus{

}
.waveicon{

}

.txt{
position: absolute;

}