
.sahkun {
  bottom: 1.2rem;
  font-family: 'Butler';
  font-weight: 700;
  font-size: 48px;
  text-decoration: none ;
  position: relative;
  color: #2D355C;
  display: flex;
  justify-content: center;
}

.signup{
  display: flex;
  position: relative;
  top: 3rem;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 16px;
  text-align: right;
  color: #2D355C;
  text-decoration: none;
  padding-left: 55px;
}
.ourmission{
  display: flex;
  justify-content: end;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 0px;
  text-align: right;
  color: #2D355C;
  text-decoration: none;
  position: relative;
  right: 14%;
  bottom: 6rem;
}

.download{
  margin-top: 0%;
  position: relative;
  left: 89%;
  bottom: 7.1rem;
  border: 1px solid #2D355C;
  border-radius: 19.5px;
  color: #2D355C;
  background-color: #FCFEF9;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  width: 162px;
  height: 39px;
}
.line{
  position: relative;
  margin-bottom: 2%;
  bottom: 6rem;
  /* background: #2D355C; */
  color: #2D355C;
}
