.signup{
position: absolute;
width: 17%;
left: 8%;
top: 5%;
font-family: 'Karla', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 130%;
text-align: right;
color: #2D355C;
text-decoration: none;
cursor: pointer;
}

.sahkun{
position: absolute;
left: 166%;
top: 5%;
font-family: 'Butler';
font-style: normal;
font-weight: 700;
font-size: 300%;
color: #2D355C;
cursor: pointer;
}

.ourmission{
position: absolute;
width: 28%;
left: 280%;
top: 5%;
font-family: 'Karla', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
font-size: 22px;
line-height: 23px;
text-align: right;
color: #2D355C;
text-decoration: none;
cursor: pointer;
}

.download{
box-sizing: border-box;
position: absolute;
width: 35%;
height: 4%;
left: 315%;
top: 4%;
border: 1px solid #2D355C;
border-radius: 19.5px;
cursor: pointer;
}

.line{
position: absolute;
width: 375%;
height: 0px;
left: 0px;
top: 11.99%;
border: 1px solid #2D355C;
}

